.cards-container{
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    align-items: center;
   
  
}

.question-card{
    border: 2px solid black;
    padding: 20px;
    margin:auto;
    height: 175px;
    width: 325px;
    text-align: center;
    font-size: 28px;
    background-image: url("../../../public/assets/FlashCard-Question\ Background\ img.png");
}

.question-card-no-click{
    border: 2px solid black;
    padding: 20px;
    margin:auto;
    height: 175px;
    width: 325px;
    text-align: center;
    font-size: 28px;
    background-image: url("../../../public/assets/FlashCard-Question\ Background\ img.png");
    pointer-events:none;
}

.question-card h4{
    font-size: 16px;
}

.question-card-no-click h4{
    font-size: 16px;
}

.answer-card{
    border: 2px solid black;
  padding: 20px;
  margin:auto;
  height: 175px;
  width: 325px;
  text-align: center;
  font-size: 28px;
  background-image: url("../../../public/assets/FlashCard-\ Answer\ Background\ img.png");
}

.answer-card-no-click{
    border: 2px solid black;
  padding: 20px;
  margin:auto;
  height: 175px;
  width: 325px;
  text-align: center;
  font-size: 28px;
  background-image: url("../../../public/assets/FlashCard-\ Answer\ Background\ img.png");
  pointer-events:none;
}
.answer-card h4{
    font-size: 16px;
}

.directions-box{
    width: 300px;
    height: 225px;
    text-align: center;
    background-color: rgba(212, 18, 89, 0.7);
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.hide-answer-card{
    display: none;
}


.direction-arrows-left{
height:40px;
width: 200px;
background-image: url("../../../public/assets/arrows_left\ \(2\).png");
border-radius: 8px;
}

.direction-arrows-right{
    height:40px;
    width: 200px;
    background-image: url("../../../public/assets/arrows_right.png");
    border-radius: 8px;
    }

.direction_arrows-down{
    height: 80px;
    width: 200px;
    background-image: url("../../../public/assets/down_arrows\ \(1\).png");
    border-radius: 8px;
}