header{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;

}

header p{
    font-size: 26px;
    color: yellow;
}

main{
    background-image: url("../public/assets/study_time_background\ \(1\).png");
    background-position: center;
    background-size: cover;

}