header{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;

}

header h1{
    display: none;
}

header .logo{
    height: 150px;
    width: 300px;
    background-image: url("../public/assets/study_space_logo.png");
    background-size: cover;
}

header p{
    font-size: 26px;
    color: yellow;
}

main{
    background-image: url("../public/assets/study_time_background\ \(1\).png");
    background-position: center;
    background-size: cover;

}